version: "3.7"
services:
  web:
    build: .
    command: npm start

    networks:
      - someApp
    volumes:
      - .:/usr/src/app
    ports:
      - "80:80"
    #environment:
    #  PORT: 8080 # this is optional, allows express to use process.env.PORT instead of a raw 3000
    deploy:
      replicas: 6
      update_config:
        parallelism: 2
        delay: 10s
      restart_policy:
        condition: on-failure
networks:
    someApp:
     driver: overlay