web:
  build: .
  command: npm start
  volumes:
    - .:/usr/src/app
  ports:
    - "8080:8080"
  environment:
    PORT: 8080 # this is optional, allows express to use process.env.PORT instead of a raw 3000
deploy:
  mode: replicated
  replicas: 6