version: "3.7"
services:
  web:
    build: .
    command: npm start
    
    networks:
      - someApp
    volumes:
      - .:/usr/src/app
    deploy:
      replicas: 5
      resources:
        limits:
          cpus: "0.1"
          memory: '50M'
      restart_policy:
        condition: on-failure
    networks:
      - webnet
networks:
  webnet: